.bar-group-icons {
    display: flex;
    background-color: #fafafa;
    line-height: 30px;
    padding: 0 15px;
    border-top: 1px solid #d6dee6;
}

.left-bottom-icon {
    span {
        cursor: pointer;
        height: 100%;
        position: relative;
        top: 1px;
    }
}

.terminal {
    transition: all 3s;
    position: relative;
}

.terminal-title {
    font-size: 13px;
    color: #333;
    font-weight: 500;
    margin-left: 5px;
}

.bar-group-icons {
    position: relative;
}

.workspace_icon {
    position: absolute;
    right: 15px;
}